main {
    height: 100%;
    position: relative;

    header {
        background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(33,33,33,1) 100%);
        color: #fff;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        button {

            &:nth-child(1) {
                height: 100%;
                width: 77px;
                background-color: #333;
                color: inherit;
                font-family: inherit;
                font-size: 14px;
                font-weight: 300;
                border: 1px solid #1D1D1D;
                border-radius: 4px;
                cursor: pointer;
            }

            &:nth-child(3) {
                background-color: transparent;
                margin-right: 14px;
                cursor: pointer;
            }
        }

        #city-wrapper {

            span {
                display: block;
                text-align: center;

                &:nth-child(1) {
                    font-weight: 500;
                    font-size: 14px;
                }

                &:nth-child(2) {
                    font-weight: 300;
                    color: #7B7B7B;
                    font-size: 12px;
                }
            }
        }
    }

    section {
        height: 100%;
        padding-top: 45px;
        display: flex;

        &#blank {
            background-color: #515151;

            div {
                display: flex;
                font-size: 38px;
                margin: 20px 30px;
                color: #878787;

                p {
                    margin-left: 14px;
                }
            }
        }

        #current {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 50px 50px 150px;


            #current-time {
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;
                font-weight: 300;
            }

            #current-forecast {
                display: flex;

                i {
                    font-size: 150px;
                    line-height: 1.3;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 30px;

                    span {
                        &:nth-child(1) {
                            font-size: 50px;
                            margin-bottom: 10px;
                        }

                        &:nth-child(2) {
                            font-size: 40px;
                        }
                    }
                }
            }

            #forecast-selector {

                #buttons {
                    border-radius: 4px;
                    overflow: hidden;
                    width: 240px;
                    margin-bottom: 50px;

                    button {
                        height: 32px;
                        width: 120px;
                        color: #fff;
                        background-color: #25232F;
                        cursor: pointer;
                        border: 1px solid #0B0C12;
                        font-family: inherit;

                        &.active {
                            background-color: #0B0C12;
                        }
                    }
                }

                #carousel {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 620px;
                    height: 120px;

                    button {
                        width: 40px;
                        height: 40px;
                        background-color: rgba(37, 35, 47, .75);
                        color: #fff;
                        border-radius: 8px;
                        font-size: 20px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                    }

                    #reel {
                        overflow: hidden;
                        display: flex;

                        #reel-wrapper {
                            flex: 1 0;
                            display: flex;
                            justify-content: center;
                            transition: transform .25s linear;
    
                            .reel-item {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin: 0 10px;
                                width: 70px;
    
                                i {
                                    font-size: 36px;
                                    margin: 15px 0 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #weekly {
            width: 290px;
            background-color: rgba(53, 53, 53, .7);
            padding: 30px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .weekly-forecast {

                display: flex;
                flex-direction: column;
                align-items: flex-start;

                span {
                    font-size: 18px;
                }

                & > span {
                    font-weight: 500;
                }

                div {
                    margin-top: 6px;
                    display: flex;

                    i {
                        font-size: 50px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0 5px 5px;
        font-size: 12px;
        font-weight: 300;
        text-shadow: 1px 1px 1px #000;
        color: #fff;

        a {
            color: inherit;
        }
    }
}

// Backgrounds
.background-base {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.day-2xx {
    background-image: url('../../images/day-2xx.jpg');
    color: #fff;
}

.night-2xx {
    background-image: url('../../images/night-2xx.jpg');
    color: #fff;
}

.day-3xx {
    background-image: url('../../images/day-3xx.jpg');
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.night-3xx {
    background-image: url('../../images/night-3xx.jpg');
    color: #fff;
}

.day-5xx {
    background-image: url('../../images/day-5xx.jpg');
    color: #fff;
}

.night-5xx {
    background-image: url('../../images/night-5xx.jpg');
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.day-6xx {
    background-image: url('../../images/day-6xx.jpg');

    #weekly {
        color: #fff
    }
}

.night-6xx {
    background-image: url('../../images/night-6xx.jpg');
    color: #fff;
}

.day-7xx {
    background-image: url('../../images/day-7xx.jpg');
    color: #fff;
}

.night-7xx {
    background-image: url('../../images/night-7xx.jpg');
    color: #fff;
}

.day-800 {
    background-image: url('../../images/day-800.jpg');

    #weekly {
        color: #fff
    }
}

.night-800 {
    background-image: url('../../images/night-800.jpg');   
    color: #fff;
}

.day-8xx {
    background-image: url('../../images/day-8xx.jpg');

    #weekly {
        color: #fff
    }
}

.night-8xx {
    background-image: url('../../images/night-8xx.jpg');
    color: #fff;
}